#CoachFee
{
    width:100%;
    height:0px;
}
#myEChart
{
    width:100%;
    height:300px;
}
body, div {
    margin: 0px;
    padding: 0px;
}
.allpage {
    width: calc(100% - 40px);
    padding: 20px;
    overflow: hidden;
    background-color: rgba(19,35,66,0.8);
}
        .allpage .item:last-child {
            margin: 0px;
        }

.box4 h3 {
    color: #fff;
    font-size: 14px;
    margin: 10px 15px;
    padding: 0px;
}

.box4 > div {
    width: calc(35% - 10px);
    height: calc(50% - 30px);
    float: left;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    margin: 5px;
}

    .box4 > div.d0 {
        width: calc(30% - 10px);
        height: calc(100% - 50px);
    }

.box4 img {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.box4 p {
    font-size: 25px;
    display: inline-block;
    width: 40%;
    margin-top: auto auto;
    float: right;
    text-align: center;
}

.box4 > div.d0 label {
    margin: 30% auto;
}

.box4 > div.d0 p {
    display: block;
    width: 100%;
    text-align: center;
}

.box4 > div > div {
    width: 60%;
    text-align: center;
    display: inline-block;
}

.box4 span, .box4 label {
    display: block;
}

.box4 label {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10% auto 5px auto;
    background-color: #000;
}

    .box4 label.y0 {
        border: 1px solid #ff9090;
    }

    .box4 label.y1 {
        border: 1px solid #ffbc90;
    }

    .box4 label.y2 {
        border: 1px solid #fbff90;
    }

    .box4 label.y3 {
        border: 1px solid #99fbb2;
    }

    .box4 label.y4 {
        border: 1px solid #64d2ff;
    }
.top {
    height: 30px;
    display: block;
    color: #fff;
    line-height: 30px;
    margin-bottom: 10px;
    margin-top: -10px;
}

    .top select {
        height: 30px;
        background-color: #12419a;
        border: 0px;
        border-radius: 5px;
        color: #fff;
    }